{% extends 'base.html' %}
{% block title %}
    Đánh giá sơ bộ
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="/static/danhgiasobo.js"></script>
{% endblock %}
{% block style %}
    #myForm > label {
        background: #eeeeee;
        padding: 5px 10px;
        border-radius: 8px;
        margin-right: 20px;
    }
    h6 {
        color: #0F62FE;
        font-weight: 600;
        margin-bottom: 15px;
      }
{% endblock %}
{% block nav %}
    <li class="nav-item">
    <a class="nav-link" href="/detai">Đề tài</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="/taocauhoi">Tạo câu hỏi</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="/khaosat">Khảo sát</a>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link active" aria-current="page" href="/phantich">Phân tích</a>
   </li>
    {% endblock%}
{% block content %}
    <div id="content" class="container">
      <ul class="nav nav-tabs mb-2">
          <li class="nav-item">
            <a id="cronbachalpha" class="nav-link active" aria-current="page" onclick="cronbach()">Cronbach's Alpha</a>
          </li>
          <li class="nav-item">
            <a id="efa" class="nav-link" onclick="nhantokhampha()">Phân tích nhân tố khám phá EFA</a>
          </li>
      </ul>

      <div id="hienthicronbach">
          <div>
            <select class="form-select" aria-label="Default select example" id="chonnhomcauhoi" onchange="chon_nhom()" style="width: 100%">
            </select>
          </div>
          <h6 style="margin-top: 10px;">Đánh giá độ tin cậy</h6>
          <table class="table" style="width: 500px">
              <thead>
                <tr>
                    <th>Cronbach's Alpha</th>
                    <th>Số lượng biến</th>
                    <th>Cỡ mẫu</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td id="crbalpha"></td>
                    <td id="soluongbien"></td>
                    <td id="comau"></td>
                </tr>
              </tbody>
          </table>
          <h6>Tương quan biến tổng</h6>
          <button class="btn btn-danger mb-2" onclick="tam_xoa()">Tạm xóa</button>
          <button class="btn btn-primary mb-2" onclick="hoan_tac()">Hoàn tác</button>
          <div style="height: 500px; overflow: auto">
              <table class="table table-bordered table-hover text-center" id="tableCron">
                  <thead id="headCron" style="background: #eeeeee"></thead>
                  <tbody id="bodyCron"></tbody>
              </table>
          </div>
      </div>
      <div id="hienthiefa" style="display: none">
          <div class="d-flex align-items-center" style="height: 60px; margin: auto">
              <h6 style="margin-bottom: 5px">Chọn loại biến</h6>
              <div class="form-check" style="margin-left: 50px; margin-right: 200px">
                <input class="form-check-input" name="Chọn dữ liệu" type="radio" value="Từ đề tài" onclick="efabiendoclap()" checked>
                <label class="form-check-label">Biến độc lập</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="Chọn dữ liệu" type="radio" value="Từ tệp tin" onclick="efabienphuthuoc()">
                <label class="form-check-label">Biến phụ thuộc</label>
          </div>
          </div>
          <h6>Hệ số KMO và Kiểm định Bartlett</h6>
          <table class="table" style="width: 500px">
              <thead>
                <tr>
                    <th>Hệ số Kaiser-Meyer-Olkin</th>
                    <th>Kiểm định Bartlett</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td id="kmo"></td>
                    <td id="bartlett"></td>
                </tr>
              </tbody>
          </table>
          <h6>Tổng phương sai trích</h6>
          <div style="height: 300px; overflow: auto;">
              <table class="table table table-bordered table-hover text-center">
                  <thead>
                    <tr>
                        <th style="position: sticky; top: 0; background: #eeeeee">Nhân tố</th>
                        <th style="position: sticky; top: 0; background: #eeeeee">Eigenvalue</th>
                        <th style="position: sticky; top: 0; background: #eeeeee">Tổng bình phương hệ số tải của biến</th>
                        <th style="position: sticky; top: 0; background: #eeeeee">Tỉ lệ phương sai</th>
                        <th style="position: sticky; top: 0; background: #eeeeee">Tổng phương sai tích lũy</th>
                    </tr>
                  </thead>
                  <tbody id="bodyphuongsai">
                  </tbody>
              </table>
          </div>
          <div id="matranxoay">
              <h6>Ma trận xoay</h6>
              <p style="margin-bottom: 4px">Phương pháp PCA với phép xoay varimax</p>
              <button class="btn btn-danger mb-2" onclick="tam_xoa_mtx()">Tạm xóa</button>
              <button class="btn btn-primary mb-2" onclick="hoan_tac_mtx()">Hoàn tác</button>
              <div style="height: 500px; overflow: auto;">
                  <table class="table table-bordered table-hover text-center">
                      <thead>
                        <tr id="headmatranxoay"></tr>
                      </thead>
                      <tbody id="bodymatranxoay">
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
          </div>
        <div class="mt-5 d-flex mb-5">
        <div id="button_phantich" class="container ms-auto">
          <button type="button" class="btn btn-primary" style="float: right; min-width: 170px; margin-left: 10px" onclick="danhgiachinhthuc()">Đánh giá chính thức</button>
          <button type="button" class="btn btn-success" style="float: right; min-width: 170px" onclick="window.open('/sangloccauhoi', '_blank')" id="sanglocbutton">Sàng lọc câu hỏi</button>
        </div>
      </div>
    </div>
{% endblock %}