{% extends 'base.html' %}
{% block title %}
    Đánh giá chính thức
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="/static/danhgiachinhthuc.js"></script>
{% endblock %}
{% block style %}
    #myForm > label {
        background: #eeeeee;
        padding: 5px 10px;
        border-radius: 8px;
        margin-right: 20px;
    }
    h6 {
        color: #0F62FE;
        font-weight: 600;
        margin-bottom: 15px;
      }
{% endblock %}
{% block nav %}
    <li class="nav-item">
    <a class="nav-link" href="/detai">Đề tài</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="/taocauhoi">Tạo câu hỏi</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="/khaosat">Khảo sát</a>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link active" aria-current="page" href="/phantich">Phân tích</a>
   </li>
    {% endblock%}
{% block content %}
    <div id="content" class="container">
      <ul class="nav nav-tabs mb-2">
          <li class="nav-item">
            <a id="cronbachalpha" class="nav-link active" aria-current="page" onclick="cronbach()">Cronbach's Alpha</a>
          </li>
          <li class="nav-item">
            <a id="efa" class="nav-link" onclick="nhantokhampha()">Nhân tố khám phá EFA</a>
          </li>
          <li class="nav-item">
            <a id="tuongquan" class="nav-link" onclick="tuongquantuyentinh()">Tương quan tuyến tính</a>
          </li>
          <li class="nav-item">
            <a id="hoiquy" class="nav-link" onclick="hoiquydabien()">Hồi quy đa biến</a>
          </li>
          <li class="nav-item">
            <a id="khacbiet" class="nav-link" onclick="sukhacbiet()">Kiểm định sự khác biệt</a>
          </li>
      </ul>

      <div id="hienthicronbach">
          <div>
            <select class="form-select" aria-label="Default select example" id="chonnhomcauhoi" onchange="chon_nhom()" style="width: 100%">
            </select>
          </div>
          <h6 style="margin-top: 10px;">Đánh giá độ tin cậy</h6>
          <table class="table" style="width: 500px">
              <thead>
                <tr>
                    <th>Cronbach's Alpha</th>
                    <th>Số lượng biến</th>
                    <th>Cỡ mẫu</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td id="crbalpha"></td>
                    <td id="soluongbien"></td>
                    <td id="comau"></td>
                </tr>
              </tbody>
          </table>
          <h6>Tương quan biến tổng</h6>
          <div style="height: 500px; overflow: auto">
              <table class="table table-bordered table-hover table-sm text-center" id="tableCron">
                  <thead id="headCron" style="background: #eeeeee"></thead>
                  <tbody id="bodyCron"></tbody>
              </table>
          </div>
      </div>
      <div id="hienthiefa" style="display: none">
          <h6>Hệ số KMO và Kiểm định Bartlett</h6>
          <table class="table" style="width: 500px">
              <tbody>
                <tr>
                    <td>Hệ số Kaiser-Meyer-Olkin</td>
                    <td id="kmo"></td>
                </tr>
              <tr>
                  <td>Kiểm định Bartlett</td>
                  <td id="bartlett"></td>
              </tr>
              </tbody>
          </table>
          <h6>Tổng phương sai trích</h6>
          <div style="height: 300px; overflow: auto; border: 1px solid #eeeeee; border-radius: 2px;">
              <table class="table">
                  <thead>
                    <tr>
                        <th style="position: sticky; top: 0; background: white">Nhân tố</th>
                        <th style="position: sticky; top: 0; background: white">Eigenvalue</th>
                        <th style="position: sticky; top: 0; background: white">Tổng bình phương hệ số tải của biến</th>
                        <th style="position: sticky; top: 0; background: white">Tỉ lệ phương sai</th>
                        <th style="position: sticky; top: 0; background: white">Tổng phương sai tích lũy</th>
                    </tr>
                  </thead>
                  <tbody id="bodyphuongsai">
                  </tbody>
              </table>
          </div>
          <h6>Ma trận xoay</h6>
          <p>Phương pháp PCA với phép xoay varimax</p>
          <div style="height: 500px; overflow: auto; border: 1px solid #eeeeee; border-radius: 2px;">
              <table class="table">
                  <thead>
                    <tr id="headmatranxoay"></tr>
                  </thead>
                  <tbody id="bodymatranxoay">
                  </tbody>
              </table>
          </div>
      </div>
          </div>
        <div class="mt-5 d-flex mb-5">
        <div id="button_phantich" class="container ms-auto">
          <button type="button" class="btn btn-primary" style="float: right; min-width: 170px; margin-left: 10px" onclick="window.open('/thongkemota', '_blank')">Thống kê mô tả</button>
      </div>
    </div>
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("tableDeTai");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 2; j < td.length; j++) {
                if (td[j]) {
                  txtValue = td[j].textContent || td[j].innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                  } else {
                    tr[i].style.display = "none";
                  }
                }
            }
          }
        }

        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("tableDeTai");
          switching = true;
          // Set the sorting direction to ascending:
          dir = "asc";
          /* Make a loop that will continue until
          no switching has been done: */
          while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
          for (let i = 1; i < rows.length; i++) {
            rows[i].getElementsByTagName("td")[0].innerText = i;
          }
        }
    </script>
{% endblock %}